## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Country,Date
0,0,Riyadh,24.6877,46.7219,69.94,24,0,3.80,clear sky,SA,1634266445
1,1,Puerto Ayora,-0.7393,-90.3518,68.94,81,46,9.53,scattered clouds,EC,1634266509
2,2,Ushuaia,-54.8000,-68.3000,40.66,52,20,5.75,few clouds,AR,1634266510
3,3,Mataura,-46.1927,168.8643,56.52,51,33,7.76,scattered clouds,NZ,1634266510
4,4,Richards Bay,-28.7830,32.0377,66.78,77,8,9.95,clear sky,ZA,1634266511

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Country,Date
7,7,Puerto Escondido,15.8500,-97.0667,80.85,86,28,4.00,scattered clouds,MX,1634266512
8,8,Butaritari,3.0707,172.7902,82.69,69,40,16.17,scattered clouds,KI,1634266513
10,10,Grajau,-5.8194,-46.1386,80.55,52,88,0.67,overcast clouds,BR,1634266514
13,13,Airai,-8.9266,125.4092,81.18,43,76,1.79,broken clouds,TL,1634266516
18,18,Hasaki,35.7333,140.8333,79.29,61,4,5.30,clear sky,JP,1634266519

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
Country                0
Date                   0
dtype: int64

In [6]:
import numpy as np

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df.replace('',np.nan, inplace=True)

/opt/anaconda3/lib/python3.8/site-packages/pandas/core/frame.py:4524: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [8]:
preferred_cities_df.dropna(how="any")

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description,Country,Date
7,7,Puerto Escondido,15.8500,-97.0667,80.85,86,28,4.00,scattered clouds,MX,1634266512
8,8,Butaritari,3.0707,172.7902,82.69,69,40,16.17,scattered clouds,KI,1634266513
10,10,Grajau,-5.8194,-46.1386,80.55,52,88,0.67,overcast clouds,BR,1634266514
13,13,Airai,-8.9266,125.4092,81.18,43,76,1.79,broken clouds,TL,1634266516
18,18,Hasaki,35.7333,140.8333,79.29,61,4,5.30,clear sky,JP,1634266519
...,...,...,...,...,...,...,...,...,...,...,...
694,694,Mehran,33.1222,46.1646,83.89,19,0,5.06,clear sky,IR,1634266876
696,696,Dicabisagan,17.0818,122.4157,81.57,84,30,4.94,scattered clouds,PH,1634266877
704,704,Hambantota,6.1241,81.1185,80.94,100,20,10.36,few clouds,LK,1634266881
705,705,Tessalit,20.1986,1.0114,80.73,12,37,10.07,scattered clouds,ML,1634266882
706,706,Boke,10.9409,-14.2967,75.87,92,98,2.30,overcast clouds,GN,1634266882

In [9]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Puerto Escondido,MX,80.85,scattered clouds,15.8500,-97.0667,
8,Butaritari,KI,82.69,scattered clouds,3.0707,172.7902,
10,Grajau,BR,80.55,overcast clouds,-5.8194,-46.1386,
13,Airai,TL,81.18,broken clouds,-8.9266,125.4092,
18,Hasaki,JP,79.29,clear sky,35.7333,140.8333,
28,Metro,ID,88.59,overcast clouds,-5.1131,105.3067,
30,Mabaruma,GY,76.98,overcast clouds,8.2000,-59.7833,
31,Santa Ines,BR,78.51,scattered clouds,-3.6667,-45.3800,
33,Atuona,PF,78.22,few clouds,-9.8000,-139.0333,
40,Urubicha,BO,87.96,broken clouds,-15.3833,-62.9500,

In [12]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping")

Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping
Hotel not found... skipping

In [13]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Puerto Escondido,MX,80.85,scattered clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
8,Butaritari,KI,82.69,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
10,Grajau,BR,80.55,overcast clouds,-5.8194,-46.1386,Hotel Confiança
13,Airai,TL,81.18,broken clouds,-8.9266,125.4092,Juvinal Martin
18,Hasaki,JP,79.29,clear sky,35.7333,140.8333,Hotel Sunrise Choshi

In [14]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df.replace('',np.nan, inplace=True)
hotel_df.dropna().head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
7,Puerto Escondido,MX,80.85,scattered clouds,15.8500,-97.0667,Aldea del Bazar Hotel and Spa
8,Butaritari,KI,82.69,scattered clouds,3.0707,172.7902,Isles Sunset Lodge
10,Grajau,BR,80.55,overcast clouds,-5.8194,-46.1386,Hotel Confiança
13,Airai,TL,81.18,broken clouds,-8.9266,125.4092,Juvinal Martin
18,Hasaki,JP,79.29,clear sky,35.7333,140.8333,Hotel Sunrise Choshi

In [17]:
# 8a. Create the output File (CSV)
output_data_file = "vacation_search/weatherpy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [2]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} </dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [19]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))